.drawer {
  display: flex;
  flex-direction: column;

  padding: 15px;
  width: 300px;
  min-width: 150px;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 3px 3px 0px;
}

.drawer > form > * {
  margin-top: 15px;
}

.button {
  width: 100%;
}