.drawer {
  display: flex;
  flex-direction: column;

  padding: 15px;
  width: 300px;
  min-width: 220px;
  border-right: 2px solid #bebebe;
}

.drawer > form > * {
  margin-top: 15px;
}

.button {
  width: 100%;
}
